
header{
    text-align: center;
    padding: 20px;
    background: rgb(23, 8, 37);
    height: 100px;
    color: rgb(255, 255, 255);
}
#side-bar {
    background-color: rgb(230, 230, 230);
}

aside {
    padding-top: 5px;
    margin: 10px;
}
.my-container {
    margin-left: 10%;
    margin-right: 10%;
}
form {
    padding-top: 5pxpx;
}

#current-city-info {
    margin-top: 10px;
    height: 500px;
    margin-bottom: 30px;
    
}
#daily-forecast{
    margin: 15px;
    margin-top: 10px;
} 

.button-group {
    margin-top: 15px;
}
h4 {
    padding-top: 50px;
}